<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>기본 홈</title>
</head>

<body>
<div layout:fragment="content">
            <!-- 메인 페이지 코드 시작 -->
            <div class="container-fluid pt-4 px-4">
                <div class="row">
                    <div class="col-sm-12 col-xl-8">
                        <!-- 공지사항 -->
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">공지사항</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="align-items-center border-bottom py-3 notice-preview" onclick="window.location.href='index'">
                                <div class="d-flex justify-content-between mx-3">
                                    <span>공지사항 제목1111112111111111</span>
                                    <span style="font-size: 14px; color: #CCC;">24.09.13</span>
                                </div>
                            </div>
                            <div class="align-items-center border-bottom py-3 notice-preview" onclick="window.location.href='index'">
                                <div class="d-flex justify-content-between mx-3">
                                    <span>공지사항 제목222222222222222222</span>
                                    <span style="font-size: 14px; color: #CCC;">24.09.06</span>
                                </div>
                            </div>
                            <div class="align-items-center border-bottom py-3 notice-preview" onclick="window.location.href='index'">
                                <div class="d-flex justify-content-between mx-3">
                                    <span>공지사항 제목333333333333333333</span>
                                    <span style="font-size: 14px; color: #CCC;">24.08.31</span>
                                </div>
                            </div>
                        </div>
                        <!-- 내실 -->
                        <div class="bg-secondary text-center rounded p-4 mt-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">내실</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-start align-middle table-bordered table-hover mb-0">
                                    <thead>
                                        <tr class="text-white">
                                            <th scope="col">순위</th>
                                            <th scope="col">컨텐츠</th>
                                            <th scope="col">주요 보상</th>
                                            <th scope="col">방법</th>
                                            <th scope="col">상세내용</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>가디언 토벌 - 소나벨</td>
                                            <td>(전설)질풍</td>
                                            <td>확률</td>
                                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>이그네아의 징표 8개</td>
                                            <td>스킬포인트 물약</td>
                                            <td>수집품</td>
                                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>01 Jan 2045</td>
                                            <td>INV-0123</td>
                                            <td>Jhon Doe</td>
                                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>01 Jan 2045</td>
                                            <td>INV-0123</td>
                                            <td>Jhon Doe</td>
                                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 캘린더 -->
                        <div class="col-sm-12">
                            <div class="h-100 bg-secondary rounded p-4 mt-4">
                                <div id="calender"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-4">
                        <!-- 멘토 / 멘티 -->
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">멘토 / 멘티</h6>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-50 ms-3">
                                    <h6 class="mb-0">멘토 대표캐릭터명</h6>
                                    <small>직업 레벨 서버 템렙<br></small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-50 ms-3">
                                    <h6 class="mb-0">멘티1</h6>
                                    <small>직업 레벨 서버 템렙</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-50 ms-3">
                                    <h6 class="mb-0">멘티2</h6>
                                    <small>직업 레벨 서버 템렙</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" th:src="@{/img/user.jpg}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-50 ms-3">
                                    <h6 class="mb-0">멘티3</h6>
                                    <small>직업 레벨 서버 템렙</small>
                                </div>
                            </div>
                        </div>

                        <!-- 컨텐츠까지 남은시간 리스트 (임시) -->
                        <div class="bg-secondary text-center rounded p-4 mt-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Remain Time</h6>
                                <a href="">Show All</a>
                            </div>
                            <!-- "/js/calendar.js" 의 updateRemainTime() 메소드 -->
                            <div id="calendar"></div>
                        </div>
                        <!-- 알림 설정 -->
                        <div class="bg-secondary rounded p-4 mt-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">알림 설정</h6>
                            </div>
                            <!-- "/js/calendar.js" 의 updateNotice() 메소드 -->
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="flex-grow-1">카오스게이트</span>
                                        <span>25:30</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="flex-grow-1">필드보스</span>
                                        <span>25:30</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox" checked>
                                <div class="w-100 ms-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="flex-grow-1">모험 섬</span>
                                        <span>01:25:30</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 메인 페이지 코드 끝 -->

</div>
</body>

</html>