<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>멘티 신청 페이지</title>
</head>

<body>
<div layout:fragment="content">
        <!-- Blank Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-6 text-center">
                    <h3 >멘티 신청 페이지</h3>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="form-floating mb-3" style="width: 200%;">
                                <input class="form-control" id="floatingInput" type="text" >
                                <label for="floatingInput">대표 캐릭터명</label>
                            </div>
                            <div class="form-floating mb-3" style="width: 200%;">
                                <input class="form-control" id="floatingInput1" type="text">
                                <label for="floatingInput1">대표 캐릭터 레벨</label>
                            </div>
                            <div class="form-floating mb-3" style="width: 200%;">
                                <select aria-label="Floating label select example" class="form-select"
                                        id="floatingSelect">
                                    <option selected> 서버를 선택해주세요</option>
                                    <option value="1">카제로스</option>
                                    <option value="2">카마인</option>
                                    <option value="3">아브렐슈드</option>
                                    <option value="4">루페온</option>
                                    <option value="5">아만</option>
                                    <option value="6">카단</option>
                                    <option value="7">니나브</option>
                                    <option value="8">실리안</option>
                                </select>
                            </div>
                            <div class="form-floating" style="width: 200%;">
                                <textarea class="form-control" id="floatingTextarea" style="height: 150px; resize: none;"></textarea>
                                <label for="floatingTextarea">멘토에게 도움을 받고싶은 컨텐츠 (예: 내실, 레이드 등)</label>
                            </div>
                            <hr/>
                            <div class="form-floating " style="width: 200%;">
                                <textarea class="form-control" id="floatingTextarea1" style="height: 150px; resize: none;"></textarea>
                                <label for="floatingTextarea">남기고 싶은 한마디</label>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>

</body>

</html>