<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>MentorList</title>
</head>

<body>
<div layout:fragment="content">
<div class="container-fluid position-relative d-flex p-0">
    <!-- Content Start -->
    <div class="content">
        <!-- Table Start -->
                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">멘토리스트</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">캐릭터명</th>
                                    <th scope="col">캐릭터 레벨</th>
                                    <th scope="col">서버</th>
                                    <th scope="col">주로 하는 컨텐츠</th>
                                    <th scope="col">한마디</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>뭉쮸무</td>
                                    <td>18</td>
                                    <td>jhon@email.com</td>
                                    <td>USA</td>
                                    <td>123</td>
                                    <td>Member</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td th:text="${characterName}"></td>
                                    <td th:text="${characterLevel}"></td>
                                    <td th:text="${server}"></td>
                                    <td th:text="${mainContents}"></td>
                                    <td th:text="${saying}"></td>
                                    <td th:text="${etc}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

</body>

</html>