<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>멘티 신청 페이지</title>
</head>

<body>
<div layout:fragment="content">
        <!-- Blank Start -->
    <div class="container-fluid pt-4 px-4" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div class="col-md-8 text-center" style="width: 100%; max-width: 800px;">
                    <h1 style="text-align: center;">멘티 신청 페이지</h1>
            <form action="/teaching/newMentee" method="post">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="form-floating mb-3" style="width: 200%;">
                                <input class="form-control" id="mentee_member_id" name ="menteeMemberId" type="text" >
                                <label for="mentee_member_id">멘티 신청 아이디</label>
                            </div>
                            <div class="form-floating" style="width: 200%;">
                                <textarea class="form-control" id="mentee_content_id" name="menteeContentId" style="height: 150px; resize: none;"></textarea>
                                <label for="mentee_content_id">멘토에게 도움을 받고싶은 컨텐츠 (예: 내실, 레이드 등)</label>
                            </div>
                            <hr/>
                            <div class="form-floating mb-3" style="width: 100%;">
                                <textarea class="form-control" id="mentee_want_to_say" name="menteeWantToSay" style="height: 150px; resize: vertical;"></textarea>
                                <label for="mentee_want_to_say">남기고 싶은 한마디</label>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4" id="newMentee">신청하기</button>

                        </div>
                    </div>

            </form>
                </div>
            </div>
        </div>
</div>
</body>

</html>