<!DOCTYPE html>
<html layout:decorate="~{/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LostArkProject</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Blank Start -->
    <div class="container-fluid pt-4 px-4" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
        <h1 style="text-align: center;">멘토 신청 페이지</h1>
        <div class="col-md-8 text-center" style="width: 100%; max-width: 800px;">
            <form action="/teaching/newMentor" method="post">
            <div class="bg-secondary rounded h-100 p-4">
                <!--resize : both는 상하좌우로 늘일수 있고 vertical은 위아래로만 늘릴 수 있다 -->
                <div class="form-floating mb-3" style="width: 100%;">
                    <textarea class="form-control" id="mentor_member_id" name="mentorMemberId" style="height: 150px; resize: vertical;"></textarea>
                    <label for="mentor_member_id">멘토 아이디</label>
                </div>
                <div class="form-floating mb-3" style="width: 100%;">
                    <textarea class="form-control" id="mentor_content_id" name="mentorContent" style="height: 150px; resize: vertical;"></textarea>
                    <label for="mentor_content_id">주로 하는 컨텐츠</label>
                </div>
                <div class="form-floating mb-3" style="width: 100%;">
                    <textarea class="form-control" id="mentor_want_to_say" name="mentorWantToSay" style="height: 150px; resize: vertical;"></textarea>
                    <label for="mentor_want_to_say">남기고 싶은 한마디</label>
                </div>
                <div class="form-floating mb-3" style="width: 100%;">
                    <input class="form-control" id="mentor_discord_id"  name="mentorDiscordId" type="text" style="height: 50px; resize: both;">
                    <label for="mentor_discord_id">디스코드 아이디</label>
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4" id="newMentor">신청하기</button>
            </div>
            </form>
        </div>
    </div>

</div>
    <!-- Blank End -->

</body>
</html>