<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calendar</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            // 웹페이지 로드 후에 실행되는 코드
            $(() => {
                initFunction();
            });

            // 초기화 함수 (비동기 함수의 순서를 제어)
            async function initFunction() {
                try {
                    await fetchCalendar(); // 초기 캘린더 데이터 로드
                } catch(e) {
                    console.error('initFunction() Error', e);
                }
            }

            // 서버에서 캘린더 데이터를 받아오는 함수
            function fetchCalendar() {
                $.ajax({
                    url: '/calendar',
                    method: 'GET',
                    success: (response) => {
                        addCalendarHTML(response);  // 서버에서 받아온 캘린더 데이터로 최초 DOM 로드
                        response.forEach(calendar => {
                            updateRemainTime(calendar);   // 남은 시간 갱신
                        });
                    },
                    error: (e) => {
                        console.error('Error fetching calendar', e);
                    }
                });
            };

            // 캘린더 데이터로 DOM을 구성하는 함수
            function addCalendarHTML(data) {
                $('#calendar').empty();

                const calendarHTML = data.map(calendar => {
                    return `
                        <p>categoryName --- ${calendar.categoryName}</p>
                        <p>contentsIcon --- ${calendar.contentsIcon}</p>
                        <img src="${calendar.contentsIcon}" alt=contentsIcon />
                        <p>contentsName --- ${calendar.contentsName}</p>
                        <p>location --- ${calendar.location}</p>
                        <p>minItemLevel --- ${calendar.minItemLevel}</p>
                        <p>serverTime --- ${calendar.serverTime}</p>
                        <p id="remain-time-${calendar.sanitizedContentsName}"></p>
                        <p>startTimes --- ${calendar.startTimes.map(startTime => '<b>' + startTime + '</b>')}</p>
                        <hr>
                    `;
                }).join('');

                $('#calendar').append(calendarHTML);
            };

            // 남은 시간을 1초마다 갱신하는 함수
            function updateRemainTime(calendar) {
                setInterval(() => {
                    const clientTime = new Date().getTime();  // 현재 클라이언트 시간
                    // const serverTime = calendar.serverTime;      // 서버 시간
                    // const timeOffset = clientTime - serverTime;  // 서버와 클라이언트의 시간 차이

                    const nextStartTime = getValidStartTime(clientTime, calendar.startTimes);  // 현재 시간과 가장 가까운 일정
                    const remainTime = Math.floor((nextStartTime - clientTime) / 1000);  // 남은 시간 계산

                    // 각 컨텐츠의 남은 시간 태그를 갱신
                    $(`#remain-time-${calendar.sanitizedContentsName}`).text(`RemainTime --- ${convertRemainTime(remainTime)}`);
                }, 1000);
            }

            // 가장 가까운 시작 시간을 반환
            function getValidStartTime(currentclientTime, startTimes) {
                for (let element of startTimes) {
                    let startTime = element;

                    if(startTime - currentclientTime > 0) {
                        return startTime;
                    }
                }

                return null;  // 시작 시간이 0인 경우와 구분하기 위해 null 사용
            }

            // 초 단위의 시간을 "hh:mm:ss"로 변환
            function convertRemainTime(totalSeconds) {
                if (totalSeconds > 60 * 60 * 24 || totalSeconds == null) {
                    return `출현 대기 중`;
                };

                let hours = Math.floor(totalSeconds / 3600);
                totalSeconds %= 3600;
                let minutes = Math.floor(totalSeconds / 60);
                totalSeconds %= 60;
                let seconds = Math.floor(totalSeconds);

                // 각 단위를 2자리로 포맷팅
                // ex) 5:3:20이라면 05:03:20으로 포맷팅
                const formattedHours = String(hours).padStart(2, '0');
                const formattedMinutes = String(minutes).padStart(2, '0');
                const formattedSeconds = String(seconds).padStart(2, '0');

                return `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;
            }
        </script>
    </head>
    <body>
        <div style="display: flex; justify-content: space-between;">
            <p style="font-size: 24px; font-weight: bold; margin: 0;">Calendars</p>
            <button type="button" onclick="window.location.href='/'">초기 화면으로</button>
        </div>
        <hr>

        <div id="calendar"></div>
    </body>
</html>
