<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="characterForm" th:action="@{/characters}" method="get">
        <h1>조회 닉네임 입력</h1>
        <input type="text" name="characterName" placeholder="닉네임 입력" required>
        <input type="submit" value="확인">
    </form>

    <button type="button" onclick="location.href='/calendar'">캘린더 확인</button>
    <button type="button" onclick="location.href='/index'">메인 페이지</button>
    <br><br>
    <button type="button" id="savejson">캘린더 json</button>
    <button type="button" id="getdb">db 캘린더 확인</button>
    <button type="button" id="mappingdto">남은시간 필드 추가</button>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $('#savejson').on('click', () => {
            $.ajax({
                url: '/cal',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        })

        $('#getdb').on('click', () => {
            $.ajax({
                url: '/cal',
                type: 'POST',
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        })

        $('#mappingdto').on('click', () => {
            $.ajax({
                url: '/mappingdto',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        })
    </script>
</body>
</html>