<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamProject.lostArkProject.calendar.dao.CalendarDAO">
    <insert id="saveContent" parameterType="content">
        INSERT INTO content(content_name, content_icon_link, min_item_level, content_location, content_category)
        VALUES (#{contentName}, #{contentIconLink}, #{minItemLevel}, #{contentLocation}, #{contentCategory})
    </insert>

    <insert id="saveStartTime" parameterType="startTime">
        INSERT INTO start_time(content_name, content_start_time)
        VALUES (#{contentName}, #{startTimes})
    </insert>

    <insert id="saveReward">
        INSERT INTO reward(content_name, reward_item_name, reward_item_level, reward_item_icon_link, reward_item_grade)
        VALUES (#{contentName}, #{rewardItemName}, #{rewardItemLevel}, #{rewardItemIconLink}, #{rewardItemGrade})
    </insert>

    <delete id="deleteAll">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM content;
        DELETE FROM start_time;
        DELETE FROM reward;
        SET SQL_SAFE_UPDATES = 1;
    </delete>

    <delete id="deleteContent">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM content;
        SET SQL_SAFE_UPDATES = 1;
    </delete>

    <delete id="deleteStartTime">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM start_time;
        SET SQL_SAFE_UPDATES = 1;
    </delete>

    <delete id="deleteReward">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM reward;
        SET SQL_SAFE_UPDATES = 1;
    </delete>
</mapper>