<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamProject.lostArkProject.calendar.mapper.CalendarMapper">
    <insert id="insertCalendar" parameterType="com.teamProject.lostArkProject.calendar.domain.Calendar">
        INSERT INTO calendar (category_name, contents_name, contents_icon, min_item_level, location)
        VALUES (#{categoryName}, #{contentsName}, #{contentsIcon}, #{minItemLevel}, #{location});
    </insert>

    <insert id="insertStartTime" parameterType="com.teamProject.lostArkProject.calendar.domain.StartTime">
        INSERT INTO startTime (calendar_id, start_time)
        VALUES (#{calendarId}, #{startTime});
    </insert>

    <insert id="insertRewardItem" parameterType="com.teamProject.lostArkProject.calendar.domain.RewardItem">
        INSERT INTO rewardItem (calendar_id, item_level)
        VALUES (#{calendarId}, #{itemLevel});
    </insert>


    <insert id="insertItem" parameterType="com.teamProject.lostArkProject.calendar.domain.Item">
        INSERT INTO item (reward_item_id, name, icon, grade)
        VALUES (#{rewardItemId}, #{name}, #{icon}, #{grade});
    </insert>


    <resultMap id="calendarResultMap" type="com.teamProject.lostArkProject.calendar.domain.Calendar">
        <!-- Calendar의 필드 매핑 -->
        <id property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="contentsName" column="contents_name"/>
        <result property="contentsIcon" column="contents_icon"/>
        <result property="minItemLevel" column="min_item_level"/>
        <result property="location" column="location"/>

        <!-- StartTimes의 컬렉션 매핑 -->
        <collection property="startTimes" ofType="com.teamProject.lostArkProject.calendar.domain.StartTime">
            <result property="startTime" column="start_time"/>
        </collection>

        <!-- RewardItems의 컬렉션 매핑 -->
        <collection property="rewardItems" ofType="com.teamProject.lostArkProject.calendar.domain.RewardItem">
            <result property="itemLevel" column="item_level"/>

            <!-- RewardItem 안의 Items 컬렉션 매핑 -->
            <collection property="items" ofType="com.teamProject.lostArkProject.calendar.domain.Item">
                <result property="name" column="name"/>
                <result property="icon" column="icon"/>
                <result property="grade" column="grade"/>
            </collection>
        </collection>
    </resultMap>


<!--    <select id="selectUser" parameterType="com.example.springpractice.dto.User">-->
<!--        select * from user where email = #{email} and password = #{password}-->
<!--    </select>-->
<!--    <update id="updateUser" parameterType="com.example.springpractice.dto.User">-->
<!--        update user set username = #{username}, password = #{password} , email = #{email} where id= #{id}-->
<!--    </update>-->
<!--    <update id="updateUserAvatar" parameterType="com.example.springpractice.dto.User">-->
<!--        update user set avatar_url = #{avatar_url} where id = #{id}-->
<!--    </update>-->
<!--    <delete id="deleteUser" parameterType="com.example.springpractice.dto.User">-->
<!--        delete from user where email = #{email}-->
<!--    </delete>-->
</mapper>