<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamProject.lostArkProject.content.dao.ContentDAO">
    <!-- content 테이블 저장 -->
    <insert id="saveContent" parameterType="content" useGeneratedKeys="true" keyProperty="contentId" keyColumn="content_id">
        INSERT INTO content(content_name, content_icon_link, min_item_level, content_location, content_category)
        VALUES (#{contentName},
                #{contentIconLink},
                #{minItemLevel},
                #{contentLocation},
                #{contentCategory})
    </insert>

    <!-- start_time 테이블 저장 -->
    <insert id="saveStartTime">
        INSERT INTO start_time(content_id, content_start_time)
        VALUES
        <foreach collection="startTimes" item="startTime" separator=",">
            (#{startTime.contentId},
             #{startTime.contentStartTime})
        </foreach>
    </insert>

    <!-- reward 테이블 저장 -->
    <insert id="saveReward">
        INSERT INTO reward(content_id, reward_item_name, reward_item_level, reward_item_icon_link, reward_item_grade)
        VALUES
        <foreach collection="rewards" item="reward" separator=",">
            (#{reward.contentId},
             #{reward.rewardItemName},
             #{reward.rewardItemLevel},
             #{reward.rewardItemIconLink},
             #{reward.rewardItemGrade})
        </foreach>
    </insert>

    <!-- content 전체 테이블 join -->
    <select id="getContentsAll" resultMap="ContentAll">
        SELECT c.content_name,
               c.content_icon_link,
               c.content_category,
               s.content_start_time,
               r.reward_item_name,
               r.reward_item_level,
               r.reward_item_icon_link,
               r.reward_item_grade
        FROM content c
        LEFT JOIN
            start_time s
            ON s.content_id = c.content_id
        LEFT JOIN
            reward r
            ON r.content_id = c.content_id
    </select>
    <resultMap id="ContentAll" type="contentDTO">
        <!-- contentDTO 기본 컬럼 매핑 -->
        <result property="contentName" column="content_name" />
        <result property="contentIconLink" column="content_icon_link" />
        <result property="contentCategory" column="content_category" />

        <!-- List<startTimeDTO> 매핑 -->
        <collection property="startTimes" ofType="startTimeDTO" column="content_name" javaType="ArrayList">
            <result property="contentStartTime" column="content_start_time" />
        </collection>

        <!-- List<rewardDTO> 매핑 -->
        <collection property="rewards" ofType="rewardDTO" column="content_name" javaType="ArrayList">
            <result property="rewardItemName" column="reward_item_name" />
            <result property="rewardItemIconLink" column="reward_item_icon_link" />
            <result property="rewardItemGrade" column="reward_item_grade" />
        </collection>
    </resultMap>

    <!-- content, start_time 테이블 join -->
    <select id="getContentStartTimes" resultMap="contentStartTime">
        SELECT c.content_id,
               c.content_name,
               c.content_icon_link,
               c.content_category,
               s.content_start_time
        FROM content c
        LEFT JOIN start_time s
        ON s.content_id = c.content_id
    </select>
    <resultMap id="contentStartTime" type="contentStartTimeDTO">
        <result property="contentId" column="content_id" />
        <result property="contentName" column="content_name" />
        <result property="contentIconLink" column="content_icon_link" />
        <result property="contentCategory" column="content_category" />

        <collection property="contentStartTimes" ofType="startTimeDTO" column="content_id" javaType="ArrayList">
            <result property="contentId" column="content_id" />
            <result property="contentStartTime" column="content_start_time" />
        </collection>
    </resultMap>

    <!-- content 테이블 조회 -->
    <select id="getContents" parameterType="contentDTO">
        SELECT * FROM content
    </select>

    <!-- startTime 테이블 조회 -->
    <select id="getStartTimes" parameterType="startTimeDTO">
        SELECT * FROM start_time
    </select>

    <!-- reward 테이블 조회 -->
    <select id="getRewards" parameterType="rewardDTO">
        SELECT * FROM reward
    </select>

    <!-- content 관련 테이블의 모든 데이터 삭제 -->
    <delete id="deleteAll">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM content;
        DELETE FROM start_time;
        DELETE FROM reward;
        SET SQL_SAFE_UPDATES = 1;
    </delete>

    <!-- content 테이블의 모든 데이터 삭제 -->
    <delete id="deleteContent">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM content;
        SET SQL_SAFE_UPDATES = 1;
    </delete>

    <!-- start_time 테이블의 모든 데이터 삭제 -->
    <delete id="deleteStartTime">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM start_time;
        SET SQL_SAFE_UPDATES = 1;
    </delete>

    <!-- reward 테이블의 모든 데이터 삭제 -->
    <delete id="deleteReward">
        SET SQL_SAFE_UPDATES = 0;
        DELETE FROM reward;
        SET SQL_SAFE_UPDATES = 1;
    </delete>
</mapper>
