<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamProject.lostArkProject.teaching.dao.TeachingDAO">

    <resultMap id="mentorMap" type="hashMap">
        <result column="MENTOR_MEMBER_ID" property="mentorMemberId"/>
        <result column="CHARACTER_NICKNAME" property="characterNickname"/>
        <result column="ITEM_LEVEL" property="itemLevel"/>
        <result column="SERVER_NAME" property="serverName"/>
        <result column="MENTOR_CONTENT_ID" property="mentorContentId"/>
        <result column="MENTOR_WANT_TO_SAY" property="mentorWantToSay"/>
    </resultMap>

    <!--새로운 멘토 입력 -->
    <insert id="newMentor" parameterType="MentorDTO">
        INSERT INTO MENTOR(
            MENTOR_MEMBER_ID,
            MENTOR_WANT_TO_SAY,
            MENTOR_DISCORD_ID
            )
        VALUES(
            #{mentorMemberId},
            #{mentorWantToSay},
            #{mentorDiscordId}
        )
    </insert>
    <insert id="insertMentorContent" parameterType="map">
        INSERT INTO MENTOR_CONTENT (
        MENTOR_MEMBER_ID,
        MENTOR_CONTENT_ID
        )
        VALUES (
        #{mentorMemberId},
        #{mentorContentId}
        )
    </insert>

    <!--새로운 멘티 입력 -->
    <insert id="newMentee" parameterType="MenteeDTO">
        INSERT INTO MENTEE(
        MENTEE_WANT_TO_SAY,
        MENTEE_MEMBER_ID,
        MENTEE_CONTENT_ID)
        VALUES(
        #{mentee_want_to_say},
        #{mentee_member_id},
        #{mentee_content_id}
        )
    </insert>

    <select id="getMentorList" parameterType="java.util.HashMap" resultType="hashMap">
        SELECT
        M.MENTOR_MEMBER_ID AS mentorMemberId,
        M.MENTOR_WANT_TO_SAY AS mentorWantToSay
        FROM MENTOR M
    </select>
    <select id="getMentorContent" parameterType="java.util.HashMap" resultType="hashMap">
        SELECT
        M.MENTOR_MEMBER_ID AS mentorMemberId,
        GROUP_CONCAT(
        CASE
        WHEN MC.MENTOR_CONTENT_ID = 1 THEN '카양겔'
        WHEN MC.MENTOR_CONTENT_ID = 2 THEN '상아탑'
        WHEN MC.MENTOR_CONTENT_ID = 3 THEN '발탄'
        WHEN MC.MENTOR_CONTENT_ID = 4 THEN '비아키스'
        WHEN MC.MENTOR_CONTENT_ID = 5 THEN '쿠크세이튼'
        WHEN MC.MENTOR_CONTENT_ID = 6 THEN '아브렐슈드(3티어)'
        WHEN MC.MENTOR_CONTENT_ID = 7 THEN '일리아칸'
        WHEN MC.MENTOR_CONTENT_ID = 8 THEN '카멘'
        WHEN MC.MENTOR_CONTENT_ID = 9 THEN '베히모스'
        WHEN MC.MENTOR_CONTENT_ID = 10 THEN '에키드나'
        WHEN MC.MENTOR_CONTENT_ID = 11 THEN '에기르'
        WHEN MC.MENTOR_CONTENT_ID = 12 THEN '아브렐슈드(4티어)'
        WHEN MC.MENTOR_CONTENT_ID = 13 THEN '기타 내실'
        ELSE '알 수 없음'
        END
        ) AS mentorContentNames
        FROM MENTOR_CONTENT MC
        JOIN MENTOR M ON MC.MENTOR_MEMBER_ID = M.MENTOR_MEMBER_ID
        GROUP BY M.MENTOR_MEMBER_ID
    </select>

    <select id="getMemberCharacter" parameterType="java.util.HashMap" resultType="hashMap">
        SELECT
        C.MEMBER_ID AS mentorMemberId,
        C.CHARACTER_NICKNAME AS characterNickname,
        C.ITEM_LEVEL AS itemLevel,
        C.SERVER_NAME AS serverName
        FROM MEMBER_CHARACTER C
        JOIN MEMBER M
        ON C.CHARACTER_NICKNAME = M.REPRESENTATIVE_CHARACTER_NICKNAME
    </select>




    <!--멘토리스트 조회페이지
    <select id="getMentorList" parameterType="java.util.HashMap" resultMap="mentorMap">
        SELECT
            M.MENTOR_MEMBER_ID       AS mentorMemberId,
            M.MENTOR_WANT_TO_SAY   AS mentorWantToSay,
            C.CHARACTER_NICKNAME    AS characterNickname,
            C.ITEM_LEVEL           AS itemLevel,
            C.SERVER_NAME           AS serverName,
            MC.MENTOR_CONTENT_ID     AS mentorContentId
        FROM MENTOR M
        JOIN MENTOR_CONTENT MC
             ON MC.MENTOR_MEMBER_ID = M.MENTOR_MEMBER_ID
        LEFT JOIN MEMBER_CHARACTER C
             ON C.MEMBER_ID = M.MENTOR_MEMBER_ID
    </select>
-->

    <!--
    멘티 신청 페이지 > 멘토에게 전송되는 페이지
    <insert id="newMenteeApply" parameterMap="MenteeApplyDTO">
        INSERT INTO MENTEE_APPLY(
        )VALUES(
        )
    </insert>



    멘토리스트 상세조회
    <select id="getMentorListDetail" parameterMap="hashMap" resultMap="mentorMap">

    </select>
    -->

</mapper>